$grey: #444;
$orange: #ff8f1c;
$turquoise: #6bdcc5;
$powder: #ffb3ab;
$yellow: #fac300;
$blue: #5e96ff;
$light-grey: #eeeeee;
$black: #000;
$white: #fff;

footer{
    color: $white;
    background-color: $grey;
    padding-top: 96px;
    padding-bottom: 96px;
    font-size: 20px;
    .container{
        .footer-three-row{
            margin-top: 80px;
            margin-bottom: 80px;
            input{
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 3px solid $white;
                font-size: 21px;
                color: $white;
                padding-bottom: 10px;
                font-family: 'Moma Medium';
                width: 430px;
                background:$grey;
            }
            input::placeholder{
                color: $white;
            }
        }
        .footer-row{
            ul{
                padding: 0;
            }
            a{
                text-decoration: none;
                color: $white;
                margin-right: 20px;
                font-size: 20px;
                li{
                    display: inline;
                }
            }
            a:last-child{
                float: right;
            }
        }

        .footer-second-row{
            display: flex;
            justify-content: space-between;
            .footer-second-item{
                span{
                    display: block;
                }
                .social{
                    display: flex;
                    margin-top: 10px;
                    .facebook{
                        mask: url(../img/social/facebook.svg) no-repeat center;
                    }
                    .twitter{
                        mask: url(../img/social/twitter.svg) no-repeat center;
                    }
                    .instagram{
                        mask: url(../img/social/instagram.svg) no-repeat center;
                    }
                    .youtube{
                        mask: url(../img/social/youtube.svg) no-repeat center;
                    }
                    .spotify{
                        mask: url(../img/social/spotify.svg) no-repeat center;
                    }
                    .logo{
                        width: 20px;
                        height: 20px;
                        background-color: $white;
                        margin-right: 30px;
                    }
                }
            }
        }
        .footer-four-row{
            .four-row-items{
                .footer-text{
                    display: flex;
                    flex-direction: column;
                    .footer-links{
                        ul{
                            padding: 0;
                            display: flex;
                            li{
                                text-decoration: none;
                                list-style-type: none;
                                margin-right: 20px;
                            }
                        }
                        
                    }
                    .footer-text{
                        .span-copyright{
                            span{
                                color: #808080;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:375px) {
    footer{
        .container{
            .footer-three-row{
                input{
                    width: 390px;
                    display: none;
                } 
            }
        }
    }
    .footer-three-row{
        input{
            display: none;
        }
    }
}

